-1-You win the game.
0-Do not talk about /b/. No exeptions
1-Do not fuck up with the rule 0. No exeptions
2-Rules with an index < 0 are wrong. No exeptions
3-Rules are here to be followed. No exeptions
4-Feel free to add/modify rules
5-Rule 4 does not apply to rules with "No exeptions". No exeptions
